{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="new-boke">
        <div class="form-group">
          <label for="">选择板块</label>
          <select class="form-control" name="new_plate">
            <option>分享</option>
            <option>问答</option>
            <option>招聘</option>
            <option>客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">标题</label>
          <input type="text" class="form-control" name="new_title" placeholder="title" required>
        </div>
        <div class="form-group">
          <label for="">内容</label>
          <textarea class="form-control" rows="3" name="new_content" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
{{/block}}

{{block 'script'}}
<script>
  $('#new-boke').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    console.log(formData)
    $.ajax({
      url: '/topic/new',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        var err_code = data.err_code;

        if(err_code === 1) {
          window.location.href = '/';
        }else if(err_code === 500) {
          window.alert(data.message);
        }
      }
    })
  })
</script>
{{/block}}
